/* Ignore following classes */

* {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee;
}

#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.insideborder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  font-weight: 300;
  margin-left: 10px;
}

h2 {
  font-size: medium;
  font-weight: 200;
}

/* Classes that you might find useful */
/* Note* These classes do not cover every possibloe case to build you flags, you will have to continue to add your own*/

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.twovert {
  height: 50%;
}

.threevert {
  height: 33.3%;
}
/* Q1 selector here {
    height: 33.3%;
  } */

.threehoriz {
  width: 33.3%;
}

.skinny {
  height: 17.5%;
}

.fat {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Colors/ Feel free to add your own! */

#white {
  background-color: white;
}
/* Q1 selector here {
    background-color: white;
  } */

.red {
  background-color: red;
}
/* Q1 selector here {
    background-color: red;
  } */

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.light-blue {
  background-color: #00a2e1;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

/* Q2 */
.thailand-flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.thailand-red {
  background-color: #b5002d;
  height: 16.6%;
}

.thailand-white {
  background-color: white;
  height: 16.6%;
}

.thailand-blue {
  background-color: #2e2a4c;
  height: 33.3%;
}

/* Q3 */
.horiz {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
/* .horiz {
  Q3 properties here
} */
.flexthree {
  flex-grow: 1;
}
.romania-blue {
  background-color: #002c84;
}

.romania-yellow {
  background-color: #ffcf00;
}

.romania-red {
  background-color: #e10017;
}

.mexico-green {
  background-color: #006341;
}

.mexico-img {
  max-height: 33.3%;
  max-width: 33.3%;
  align-self: center;
}

.mexico-red {
  background-color: #ce1126;
}

/* Q5 */
.luxembourg-text {
  color: purple;
}

.thailand-text {
  text-decoration: underline;
}

.romania-text:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.mexico-text:hover {
  font-weight: bold;
  cursor: pointer;
}

/* Q6 */
.margin-container {
  height: 300px;
  width: 1030px;
  border-style: solid;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.flag1 {
  margin-right: 15px;
  background-color: red;
}

.flag2 {
  margin-left: 15px;
  background-color: blue;
}

.padding-container {
  box-sizing: border-box;
  background-color: lightblue;
  padding: 30px;
  background-clip: content-box, padding-box;
}